/* LocationSearch.css */

.location-search .pac-container {
    all: unset; /* Resets all inherited styles */
    background-color: #ffffff !important; /* dropsdown background color*/
    color:  rgb(21, 66, 40); /* text color */
    z-index: 1050 !important;
    width: 100px;
  }
  
  /* Style the individual items in the dropdown */
  .location-search .pac-item {
    color: #333333 !important; /* text color for dropdown items */
    background-color: #ffffff !important; /* background color for dropdown items */
  }
  
  .location-search .pac-item:hover {
    background-color: #9bc3e6 !important; /* background color on hover */
    color: #000000 !important; /* text color on hover */
  }
  
  .location-search .input[type="text"] {
    background-color: #ffffff; /* background color of the input box */
    color: black; /*color of the input box */
  }

  .location-search {
    position: relative;
    color: rgb(21, 66, 40);
  }

  .location-search input[type="text"] {
    background-color: #ffffff !important; /* Input background */
    color:  rgb(21, 66, 40) !important; /* Input text color */
    border: 1px solid #ccc; /* Add a border */
    border-radius: 5px; /* Rounded corners for input */
    padding: 10px; /* Padding for better usability */
    width: 100%; /* Ensure full width */
  }

