/* CurrentLocationButton.css */
.current-location-button {
  background-color: white;  /* Default background color */
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 7px;
}

.current-location-button:hover {
  background-color: #36843a;  /* Darker shade when hovered */
}

.current-location-button.selected {
  background-color: #106813; /* Darker green when selected */
  font-weight: bold;  /* Optional: Make the text bold when selected */
  color: white;
}

.current-location-button.selected:hover {
  background-color: #094d0c;  /* Darker shade when hovered */
}
